@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  background-color: #FFFFFF;
  padding: 0;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

header {
  background-color: #001f3f;
  color: #FFFFFF;
  text-align: center;
  width: 100vw;
}

code {
  background: #d0d0d5;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-container {
  max-width: 95%;
}

textarea {
  width: 100%;
  resize: none;
}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input,
#locale-select,
input[type="button"] {
  font-size: 1.1em;
}

#output-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#solution-container {
  font-weight: bold;
}

#solution-container {
  margin-left: 20px;
}

#translated-sentence {
  margin-top: 10px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: red;
}

.highlight {
  color: green;
}

#text-input {
  padding: 10px;
}

#translate-btn {
  color: #FFFFFF;
  font-weight: 600;
  background-color: #001f3f;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  position: relative;
  left: -5px;
}

select {
  padding: 4px 12px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: flex-end;
  }

  #output-container {
    flex-direction: row;
    margin-top: 0;
    margin-left: 20px;
  }

  #solution-container {
    width: 75%;
    margin-top: 0;
  }
}